.board-members {
    height: 80vh;
    margin: 20px;

    .container {
        border: 1px solid #ccc;

        .row {
            display: flex;
            flex-direction: row;

            .col-md-10 {
                display: flex;
                .col-md-5 {
                    border: 1px solid red;
                }

                .col-md-7 {
                    display: flex;
                    align-items: center;
                    border: 1px solid blue;
                    padding: 20px 10px;
                }
            }
        }
    }
}