section.our-vision {
  padding: 50px;
  h2 {
    font-size: 29px;
    padding-bottom: 40px;
    line-height: 30px;
    text-align: left;
  }
  a {
    .col-md-6 {
      background-color: white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .vision-item {
        i {
          font-size: 40px;
          background-color: $red;
          padding: 30px;
          margin-bottom: 10px;
          &.fas {
            background-color: $red;
            border-radius: 50%;
            align-items: center;
            justify-content: space-around;
            color: $white;
          }
        }
        h5 {
          color: $grey-font;
          align-items: center;
          line-height: 28px;
          font-size: 22px;
          font-weight: 100;
          text-align: center;
        }
        &:hover {
          color: red;
        }
      }
    }
    
  }
}
