section.contact {
  text-align: center;
  padding: 50px;
  h6 {
    font-size: 19px;
    line-height: 30px;
    text-align: center;
  }
  p {
    font-size: 14px;
    text-align: center;
    color: $grey-font;
    line-height: 28px;
  }
  .social-icons {
    // display: flex;
    i {
      margin: 5px;
      font-size: 16px;
      color: $white;
      padding: 10px;
      border-radius: 50px;
      background-color: rgba(0, 0, 0, 0.2);
      &:hover {
        background-color: $green;
      }
    }
  }
}
