footer.footer {
  background-color: $grey-background;
  padding: 30px;
  display: flex;
  ul {
    text-align: center;
    padding-left: 0;
    &.footer-list {
      li {
        display: inline;
        margin: 0 15px;
        a {
          color: $grey-font;
        }
      }
    }
  }
}
