section.hero-image {
  border-top: 10px solid $green;
  background: url("../images/MOW_Kitchen.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 0 0 999em $shadow;
  h1 {
    &.hero-title {
      color: $white;
      text-align: left;
      font-size: 45px;
      padding-bottom: 30px;
      span {
        color: $green;
      }
    }
  }
  p {
    color: $white;
    font-size: 18px;
    line-height: 28px;
  }
  .social-icons {
    // display: flex;
    i {
      margin: 10px;
      font-size: 16px;
      color: $white;
      padding: 15px;
      border-radius: 50px;
      background-color: $shadow;
      &:hover {
        background-color: $green;
      }
    }
  }
}
