.navbar {
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 10px solid $blue;
  a {
    cursor: pointer;
    &.navbar-brand {
      img {
        width: 100px;
        margin-top: -15px;
      }
    }
  }
}
